.login-container {
    width: 60%;
    height: 30rem;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    border-radius: 1rem;
    display: flex;
    & > div {
        padding: .5rem;
    }
    .content-left {
        width: 50%;
        height: 100%;
        background-color: #FFB1A5;
    }   
    .content-right {
        width: 50%;
        height: 100%;
        background-color: #FFF;
    }





    .radius-tl { border-top-left-radius: 1rem; }
    .radius-bl { border-bottom-left-radius: 1rem; }
    .radius-tr { border-top-right-radius: 1rem; }
    .radius-br { border-bottom-right-radius: 1rem; }
}

