<div class="login-container">
    <div class="content-left">
        <div class="content-header">
            <img src="../../../../assets/images/ffinance-icon-white.png" alt="">
            <span>FFinances</span>
        </div>
        <div class="content-body">
            <div class="grid col-12">
                <div class="col"></div>
                <div class="col-fixed">
                    teste
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="content-right"></div>
</div>