body {
    padding: 0;
    margin: 0;
    background-color: rgb(24, 14, 53);
    display: flex;
    vertical-align: middle;
    flex-wrap: wrap;
    justify-content: center;
    color: #FFF;
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
